server:
  port: 10000
spring:
  datasource:
    username: root
    password: xzb011026
    url: jdbc:mysql://localhost:3306/gulimall_pms
    driver-class-name: com.mysql.cj.jdbc.Driver
  redis:
    host: localhost
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    alicloud:
      access-key: LTAI5tHRqzmtR9nxvQQCw1x6
      secret-key: YMLcIfcDuLNZn43LuGAbiTaSAXCrTh
      oss:
        endpoint: oss-cn-guangzhou.aliyuncs.com
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  thymeleaf:
    cache: false
  cache:
    type: redis
    redis:
      time-to-live: 3600000
      key-prefix: CACHE_
      use-key-prefix: false
      cache-null-values: true
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1
      logic-not-delete-value: 0
logging:
  level:
    com.atguigu.gulimail: error