server:
  port: 10000
spring:
  datasource:
    username: root
    password: xzb011026
    url: jdbc:mysql://localhost:3306/gulimall_pms
    driver-class-name: com.mysql.cj.jdbc.Driver
  cloud:
    nacos:
      discovery:
        server-addr: 127.0.0.1:8848
    alicloud:
      access-key: LTAI5tHRqzmtR9nxvQQCw1x6
      secret-key: YMLcIfcDuLNZn43LuGAbiTaSAXCrTh
      oss:
        endpoint: oss-cn-guangzhou.aliyuncs.com
mybatis-plus:
  global-config:
    db-config:
      id-type: auto
      logic-delete-value: 1
      logic-not-delete-value: 0
logging:
  level:
    com.atguigu.gulimail: debug